In [8]:
import pandas as pd
import seaborn as sns
wd = "/Volumes/PEDS/RI Biostatistics Core/Shared/Shared Projects/Laura/Peds Endo/Petter Bjornstad/Pima/Master data/Raw data/"
# wd = "path/to/Laura's/folder"

# Vital Status
## Raw Data Info

In [22]:
# Read csv and parse dates
vital_status = pd.read_csv(wd+"NelsonVitalStatusDEC_DATA_2021-02-04_1616.csv",parse_dates=True)
# Convert to categorical 
cat_vars = ['record_id','redcap_event_name','redcap_repeat_instrument','redcap_repeat_instance']
for column in cat_vars:
    vital_status[column] = vital_status[column].astype('category')
vital_status['esrd_start_date'].head(10)

0           NaN
1           NaN
2    2013-07-15
3           NaN
4           NaN
5           NaN
6    2005-11-18
7           NaN
8           NaN
9           NaN
Name: esrd_start_date, dtype: object

In [21]:
vital_status.head()

,record_id,redcap_event_name,redcap_repeat_instrument,redcap_repeat_instance,esrd_start_date,esrd_start_date_est,esrd_type,esrd_is_transplanted,esrd_diagnosis,esrd_complete_date,...,transplant_form_complete,dod,codunerlying,coddrunerlying,physiciancr,initials,death_comments,death_notice_form_complete,comment,comment_form_complete
0,98,esrd_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,98,death_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1999-10-07,414.9X,414.0X,2.0,LJ,NaN,2.0,NaN,NaN
2,368,esrd_arm_1,NaN,NaN,2013-07-15,1.0,1.0,0.0,1.0,2019-12-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,368,death_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2014-09-14,396.0X,396.0X,2.0,LJ,NaN,2.0,NaN,NaN
4,370,esrd_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN